body {
    overflow-x: hidden;
}
main {
    width: 80%;
    margin: auto;
}

.diapo {
    position: relative;
/*     overflow: hidden;
 */    
}

.elements {
    display: flex;
}

.element {
    flex: 1 0 100%;
    position: relative;
    box-sizing: border-box;
    border: 10px solid transparent; /* Ajout d'une bordure transparente pour créer de l'écart entre les images */
}

.element > img {
    width: 100%;
    border-radius: 20px;
}  

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    background-color: rgba(255,255,255,0.4);
}

#nav-gauche, #nav-droite {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
    cursor: pointer;
    padding: 0 20px;
}

#nav-droite {
    right: 0;
}


/* Les côtés flous */
main::before,
main::after {
    content: "";
    position: fixed;
    top: 0;
    width: 10%; /* Ajustez la largeur selon vos besoins */
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Ajustez la valeur alpha (transparence) selon vos besoins */
    z-index: 1;
}

main::before {
    left: 0;
}

main::after {
    right: 0;
}

