/* General css pattern for body, header and footer */

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

header {
    /* background-color:rgb(39, 55, 69); */
    background-color:rgb(189, 169, 77);
    margin: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    padding: 10px 40px;
    color: #F5F5DC;
    border-bottom: solid 4px rgb(39, 55, 69);
}

header ul {
    list-style: none;
    padding: 0;
    margin: -10px;
}

header ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
}

.title {
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

.button:hover {
    /*     background-color:rgb(46,100,131);
     */    
        background-color:rgb(189,184,101);
        text-decoration: none;
        border-radius: 20px;
        color: black;
}

p {
    color:rgb(39, 55, 69);
    line-height: 1.5em;
    margin: 20px auto 0;
    max-width: 1000px;
    text-align:justify;
}

a {
    color: rgb(39, 55, 69);
    font-weight: 600;
    text-decoration: none;
}

footer {
    background-color:rgb(39, 55, 69);
    margin: 0;
    padding: 50px;
/*     border-top: solid 4px #F5F5DC; */
}

/* Specific css to the index page */

.sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caroussel {
    overflow: hidden;
    width: 600px;
}

.images {
    display: flex;
    animation-duration: 20s;
    animation-name: mesimages;
    animation-iteration-count: infinite;
}

.images img {
    width: 600px;
}

@keyframes mesimages {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-600px);
    }
    50% {
        transform: translateX(-1200px);
    }
    75% {
        transform: translateX(-1800x);
    }
    100% {
        transform: translateX(0);
    }

}
