/* Styles de base (Mode Clair - par défaut) */
body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 24px;
    overflow-x: hidden;
    /* padding-top: 100px; */
    margin: 0;
    background-color: #f0f0f0; /* Fond clair */
    color: #333333;       /* Texte foncé */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition douce */
}

.container {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    /* border-top: 1px solid rgb(200, 200, 200);  */
    height: 1000px; /* Évitez les hauteurs fixes si possible, laissez le contenu définir la hauteur */
    min-height: 60vh; /* Hauteur minimale */
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #f9f9f9;  */
    /* border-radius: 8px;  */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Menu de haut de page */
.page-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px;
    margin: 20px auto;
    background-color: #333;
    width: 300px;
    border-radius: 30px;
}

.page-menu li {
    margin: 0 10px;
}

.item-menu a {
    text-decoration: none;
    color: white;
}