:root {
    --header-height: 110px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfeff;
    padding: 0px 40px;
    margin: 0;
    position: sticky;
    top: 0px;
    left: 0px;      
    right: 0px;
    z-index: 1000;
    transition: top 0.4s ease-in-out;
    box-sizing: border-box; 
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    height: var(--header-height);
}

.header-right-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header.scrolled {
    position: sticky;
    top: 10px;
    width: 100%;
    z-index: 1;
}

.header .title {
    padding: 0;
    font-size: 2rem;
    font-weight: bold;
}

.header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0 10px;
}

.header ul li {
    display: inline-block;
    padding: 0px 5px;
    font-size: 1.3rem;
}

.header ul li > a,
.header .title {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #555;
    border-radius: 30px;

}

/* Style pour l'icône flèche */
.header ul li > a .fa-caret-down {
    margin-left: 8px;
    font-size: 0.9em;
    transition: transform 0.3s ease;
}

/* Menu déroulant */
.header .dropdown-menu {
    display: none;
    position: absolute;
    justify-items: center;
    align-items: flex-start;
    top: 100%; 
    left: 50%; 
    background-color: #fdfeff;
    transform: translateX(-50%);
    min-width: 200px; 
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 8px;
    list-style: none;
    z-index: 1001;
    text-align: left;
}

/* Style pour afficher le menu */
.dropdown-menu.show {
    display: flex; /* Change le display par défaut quand il est montré */
    gap: 20px; /* Espace entre les colonnes (catégories) */
    flex-wrap: nowrap; /* Empêche le retour à la ligne des colonnes */
}

.header ul li.dropdown-container.open > a .fa-caret-down {
    transform: rotate(-90deg);
}

/* Éléments dans le menu déroulant */
.header .dropdown-menu > li {
    display: block;
    padding: 0;
}

.header .dropdown-menu > li > h3 {
    margin: 0 0 10px 0; /* Espace sous le titre */
    padding: 5px 20px; /* Un peu d'air autour du titre */
    font-size: 0.9em; /* Taille légèrement réduite */
    color: #555;
    border-bottom: 1px solid #eee; /* Séparateur visuel léger */
    white-space: nowrap; /* Empêche le titre de passer à la ligne */
}

.header .dropdown-menu > li > ul {
    display: block;
    list-style: none; /* Enlève les puces */
    padding: 0; /* Enlève le padding par défaut */
    margin: 0; /* Enlève la marge par défaut */
}

.header .dropdown-menu > li > ul li {
    display: block; /* Assure l'empilement vertical (comportement par défaut) */
    padding: 0; /* Réinitialise le padding */
    margin: 0; /* Réinitialise la marge */
}

.header .dropdown-menu > li > ul li a {
    display: block;
    padding: 5px 20px;
    color: #333;
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.2s ease;
}

.header .dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.2s ease;
}

.header .dropdown-container a:hover,
.header .dropdown-menu a:hover {
    color: #007BFF;
}

/* ---------------- */
/* bouton dark mode */
/* ---------------- */
.dark-mode-toggle {
    background-color: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    width: 70px;
    height: 35px;
    outline: none;
    box-sizing: border-box;
    justify-content: space-between;
    flex-shrink: 0;
}

.toggle-circle {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    width: 27px;
    height: 27px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.dark-mode-toggle.active {
    display: flex;
    background-color: #eee;
}

.dark-mode-toggle.active .toggle-circle {
    transform: translateX(34px);
}

.dark-mode-toggle .light-icon,
.dark-mode-toggle .dark-icon {
    font-size: 16px;
    line-height: 27px;
    color: #ffcc33; /* Couleur soleil */
    transition: opacity 0.3s ease;
    z-index: 0; /* Derrière le cercle */
    padding: 0 5px; 
}

.dark-mode-toggle .dark-icon {
    color: #aaa; /* Couleur lune */
    opacity: 1;
}

.dark-mode-toggle .light-icon {
    color: #ffcc33; /* Couleur soleil */
    opacity: 0;
    z-index: 1;
}

.dark-mode-toggle.active .dark-icon {
    opacity: 0; /* Cache l'icône lune en mode light */
}

.dark-mode-toggle.active .light-icon {
    opacity: 1; /* Cache l'icône soleil en mode dark */
}