/* CSS for header */

header {
    /*Color of the header*/
    background-color: rgba(0,86,112, 0.9);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    padding: 10px 40px;
    z-index: 1;

    -webkit-backdrop-filter: blur(10px);
    /* assure la compatibilité avec safari */
    backdrop-filter: blur(10px);
}

header ul {
    list-style: none;
    padding: 0;
    margin: -20px;
}

header ul li {
    display: flex;
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
}

header ul li.login-button a {
    display: flex;
    align-items: center; /* Centrer l'icône verticalement */
    padding: 0; /* Retirer le padding autour de l'icône */
    padding-bottom: 10px;
    width: auto; /* Ajuster la largeur à celle du contenu */
}

/* Animation de soulignement des liens */

.button_pp,
.button {
    color: rgb(240, 100, 45, 0.9);
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.button_pp {
    display: inline-block;
}

.button_pp > a {
    padding: 10px;
    width: 160px;
    margin: none;
}

.button_pp:after, .button:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: rgb(246, 178, 33);

    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.button_pp:hover:after, .button:hover:after {
    width: 100%;
    left: 0;
}

.bandeau {
    background-color: black;
}

/* .bandeau .title {
    color: white;
} */