/* Style de la timeline */
.timeline {
    max-width: 900px;
    margin: 50px auto;
    margin-top: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style des sections de chaque année */
.year {
    padding: 20px;
    margin-bottom: 20px;
    border-left: 5px solid #3498db;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.year:hover {
    background: #e2e2e2;
    transform: translateX(10px);
}

.year-header {
    margin-bottom: 15px;
}

.year-header h2 {
    margin: 0;
    color: #3498db;
    font-size: 1.1em; /* Taille du titre principal */
}

.year-header h3 {
    margin: 0;
    font-style: italic;
    color: #555;
    font-size: 0.9em; /* Taille du texte pour l'école et l'année */
}

.year-header .level {
    font-size: 0.9em; /* Taille de la mention du niveau d'étude */
    color: #555;
    display: block; /* Affiche le niveau sur une ligne distincte */
    margin-bottom: 5px; /* Espace entre le niveau et le nom de l'école */
}

.year p {
    margin: 10px 0 0;
    text-align: justify;
    line-height: 1.5;
}

/* Style pour les colonnes de matières et compétences */
.subjects {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.column {
    flex: 1;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; /* Aligne le texte à gauche */
}

.column h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(246, 178, 33);
    font-size: 1em; /* Taille du titre des colonnes */
}

.column ul {
    list-style-type: disc; /* Ajoute des puces */
    padding-left: 20px; /* Indentation des puces */
    margin: 0; /* Enlève les marges par défaut */
}

.column ul li {
    margin-bottom: 5px;
}

/* Réduire la taille du titre principal */
#title {
    font-size: 1.8em; /* Réduit la taille du titre principal */
    text-align: center;
    margin: 20px 0;
}
